<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
    <title>Интернет-магазин</title>
</head>

<body>
    <div class="wrapper">
        <div id="app" class="content">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="index.html">Интернет-магазин</a>
                <button class=" navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">Главная страница</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacts.html">Контакты</span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input v-model="searchWord" class="form-control mr-sm-2" type="search" placeholder="Поиск"
                            aria-label="Search" v-on:keyup="searchGoods">
                        <button type="button" class="btn btn-outline-primary my-2 my-sm-0"
                            v-on:click="searchGoods">Искать</button>
                        <!--Кнопка Корзина со всем ее содержимым-->
                        <div class="dropleft">
                            <button class="btn btn-outline-primary my-2 my-sm-0 dropdown-toggle" type="button"
                                id="basketBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Корзина
                            </button>
                            <!--Содержимое корзины-->
                            <div v-if="goodsInBasket.length>0" class="dropdown-menu" aria-labelledby="basketBtn">
                                <div class="card dropdown-item" v-for="good in goodsInBasket">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ good.product_name }}</h5>
                                        <p class="card-text">Цена: {{ good.price }}</p>
                                        <p class="card-text">Количество: {{ good.quantity }}</p>
                                        <p class="card-text">Стоимость: {{ good.price * good.quantity }}</p>
                                        <button type="button" class="btn btn-primary"
                                            v-on:click="addGood(good)">+</button>
                                        <button type="button" class="btn btn-primary"
                                            v-on:click="deleteGood(good)">-</button>
                                    </div>
                                </div>
                            </div>
                            <!--Корзина пустая-->
                            <div v-else class="dropdown-menu" aria-labelledby="basketBtn">
                                Корзина пустая
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
            <div class="main">
                <!--Блок со списком товаров-->
                <div class="products_list" v-if="filteredGoods.length > 0">
                    <div class="card" v-for="good in filteredGoods">
                        <div class="card-body">
                            <h5 class="card-title">{{ good.product_name }}</h5>
                            <p class="card-text">Цена: {{ good.price }}</p>
                            <button class="btn btn-primary" v-on:click="addGood(good)">Купить</button>
                        </div>
                    </div>
                </div>
                <div v-else>Товаров нет</div>
            </div>
        </div>

        <div class="footer">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Главная страница</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacts.html">Контакты</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>