* {
    margin: 0;
    padding: 0;
}

html, body, .wrapper {
    height: 100%;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    text-align: center;
}

.footer {
    height: 80px;
    margin-top: -80px;
}

/*Стиль для блока с карточками товаров*/
.products {
    margin: 0 auto;
    width: 80%;
}

/*Стиль для карточек с товарами*/
.card {
    display: inline-block;
    margin: 10px;
    width: 18rem;
}